
.member__container
    width: 160px

.member__image
    width: 120px
    border-radius: 50%

.member__tooltip
    pointer-events: auto !important
    background-color: $near-black

.member--clickable
    text-decoration: underline
    cursor: pointer
