
.hero__container {
    padding: 150px 20px;
    background-image: url('../img/blockchain-dim.png');
    background-size: cover;
}

.info__container {
    max-width: 340px;
}

.icon--center {
    position: relative;
    top: 5px;
}

.technologies__container {
    max-width: 840px;
}

.divider__container {
    padding: 90px 20px;
    background-image: url('../img/node-dim.png');
    background-size: cover;
}

.divider__text {
    max-width: 840px;
}
