
@import 'basscss';

@import 'utils';
@import 'header';
@import 'footer';
@import 'index';

body {
    font-family: 'avenir';
}

.banner {
    height: 8px;
    background: linear-gradient(90deg, #f5b547, #e67e22)
}

.section__container {
    width: 64%;
    min-width: 340px;
}

.section__filler {
    width: 840px;
}

.section__image {
    max-width: 640px;
}
